body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #93b9c9;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
    text-align: center;
    background: #e9e6b7;
    color: rgb(53, 55, 70);
    font-size: 30px;
    
  }

  .border {
      border-style: dotted;
      border-color: #6E92A1;
      background-color: rgb(255, 248, 248);
  }

  h1, h2 ,h3 {
      text-transform: uppercase;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-bottom: 0.2em;
      margin-top: 0.5em;
      color:rgb(10, 9, 70)
  }

 .indent {
      padding-left: 20px;
  }

  .hea3 {
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0.2em;
    margin-top: 0.5em;
    color:rgb(10, 9, 70)
  }

  .nappi {
      margin: 1em 1em 0.5em 0em;
      font-size: 1em;
      text-transform: uppercase;
      padding: 8px;
      background-color: rgb(10, 9, 70);
      color: rgb(241, 226, 226);
      
  }

  .margins {
      padding-bottom: 0.8em;
      padding-top: 0.8em;
  }

  .nappi2 {
    margin: 0.5em 0.5em 0.5em 0em;
    font-size: 0.6em;
    text-transform: uppercase;
    padding: 8px;
    background-color: rgb(202, 14, 14);
    color: rgb(241, 226, 226);
    right: 100%;
    
}

.perus {
    border-style: dashed;
    color: #e9e6b7;


}

  p {
      margin-top: 5px;
  }

  ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  li {margin-top: 0.9em;
    margin-bottom: 0.2em;
  }